@import url("reset.css");

body {
    box-sizing: border-box;
}

header ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2rem;
}

li {
    margin-left: 1rem;
}

li a {
    font-size: 1rem;
    text-decoration: none;
}

.apps-icon, .google-icon {
    border: 1px solid hidden;
    border-radius: 50%;
    height: 2rem;
}

main {
    width: 100%;
}

.logo-container {
    min-height: 25vh;
    width: 100%;
    position: relative;
}

.logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -11rem;
    height: 12rem;
}

.searchbar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.searchbar {
    width: 30rem;
    height: 2rem;
    border: 1px solid gray;
    border-radius: 20px;
    outline: none;
}

button {
    margin-top: 1rem;
    width: 10rem;
    height: 2rem;
    outline: none;
    border: 1px solid gray;
    border-radius: 10px;
}
